<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>
<body>
    {{> navbar }}              
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="display-4">Hola!</h1>
                    <p class="lead">
                        Mi nombre es Maria Guadalupe Ivonne, soy una entuciasta de la educacion y el desarrollo web,
                        mediante mi pagina, busco ayudar a alumnos que se encuentren en una situacion de desercion escolar.
                    </p>
            </div>
            <div class="col-lg-3">
                <img 
                    src="https://comps.canstockphoto.com.mx/gorra-rodillo-pintor-latas-clip-art_csp43782613.jpg"
                    alt="Mi foto de perfil" 
                    class="img-thumbnail rounded float-left"
                    height="200px"
                    width="200px" >
            </div> 
        </div>
        <hr class="my-10">
            <p>
                Mediante el seguimiento de mi carrera en Prepa en Linea SEP, 
                utilice herramientas de informatica para mi formacion a nivel medio superior.
            </p>
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    </div>
    {{> footer }}
</body>
</html>